<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>跳转提示</title>
<style type="text/css">
*{ padding: 0; margin: 0; }
body{ background: #fff; font-family: '微软雅黑'; color: #333; font-size: 16px; }
.system-message{ padding: 24px 48px; }
.system-message h1{ font-size: 128px; font-weight: normal; margin-bottom: 12px; }
.system-message .jump{ padding-top: 10px}
.system-message .jump a{ color: #333;}
.system-message .success,.system-message .message{ line-height: 1.8em; font-size: 28px }
.system-message .success,.system-message .code{ line-height: 1.8em; font-size: 18px }
.system-message .detail{ font-size: 12px; line-height: 20px; margin-top: 12px; display:none}
</style>
</head>
<body>
<div class="system-message">
<present name="message">
  <h1>{% if success %}:){% else %}:({% endif %}</h1>
  <p class="message">{{ message }}</p>
  {% if not success %}<p class="code">错误代码：{{ code }}</p>{% endif %}
</present>
<p class="detail"></p>
<p class="jump" id="jump" style="display:none">
页面将在 <span id="seconds">{{ waitSecond }}</span> 秒后自动 <a id="href" href="{{ jumpUrl }}">跳转</a>
</p>
</div>
<script type="text/javascript">
(function(){
  var href = '{{ jumpUrl }}';
  if (!href || href == '#' || href == 'javascript:;') return;
  document.getElementById('jump').style.display = 'block';

  var seconds = parseInt('{{ waitSecond }}' || 0);
  if (seconds > 0) {
    // document.getElementById('wait').style.display = 'inline';
    var secondsElement = document.getElementById('seconds');
    var interval = setInterval(function(){
      var time = --seconds;
      secondsElement.innerHTML = seconds;
      if(time <= 0) {
        location.href = href;
        clearInterval(interval);
      };
    }, 1000);
  }
})();
</script>
</body>
</html>
